* {
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header#header,
footer#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
